@model List<Employee>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Works/Create" method="post">

    <select name="EmployeeId">
        @foreach (Employee employee in Model)
        {
            <option value="@employee.Id">@employee.Name</option>
        }
    </select>
    <input type="text" name="Description" placeholder="Description" />
    <input type="date" name="Date" placeholder="Date"/>
    <button>Save</button>
</form>
