@model List<Work>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (Work work in Model)
{
    <p>@work.WorkDescription <a href="/Works/Show/@work.Id">Show</a>
        <form action="/Works/Delete/@work.Id" method="post">
            <button>Delete</button>
        </form>
    </p>
}

<a href="/Works/Create">Create work</a>
    