@model List<Employee>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@foreach (Employee employee in Model)
{
    <p>@employee.Name <a href="/Employees/Show/@employee.Id">Show</a>
        <form action="/Employees/Delete/@employee.Id" method="post">
            <button>Delete</button>
        </form>
    </p>
   
   
}

<a href="/Employees/Create">Create employee</a>